# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
*.userprefs
*.user
*.dbmdl

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Backup & temp
*.bak
*.tmp
*.temp
*.swp

# JetBrains Rider
.idea/
*.iml
